<!DOCTYPE html>
<html lang="en">
  <body>
    <section class="account-section">
      <div class="container">
        <div class="col-row ai-s">
          <div class="col-two">
            <div class="form-message form-message--success hide" id="ResetSuccess" tabindex="-1">
              <p>Email sent successfully...</p>
            </div>
            <div id="CustomerLoginForm" class="user-form">
              <div class="sec-title">
                <h2 id="LoginHeading">Sign In</h2>
              </div>
              {% form 'customer_login', novalidate: 'novalidate' %}
              {%- if form.errors -%}
              <div class="form-message form-message--error">
                <h2 class="h3 form-message__title " tabindex="-1" data-form-status>Error Occured</h2>
                {{ form.errors | default_errors }}
              </div>
              {%- endif -%}
              <div class="col-row">
                <div class="form-field col-full">
                  <input type="email" label="Email " label-color="#141819"
                         type="email"
                         name="customer[email]"
                         id="CustomerEmail"
                         autocomplete="email"
                         autocorrect="off"
                         autocapitalize="off"
                         {%- if form.errors contains 'form' -%}
                         class="input--error"
                         aria-invalid="true"
                         {%- endif -%}       
                         bar-height='1px' active-color='#979797' class="input-field">
                </div>
                <div class="form-field col-full">
                  {% if form.password_needed %}
                  <input type="password" label="Password" label-color="#141819" 
                         value=""
                         name="customer[password]"
                         id="CustomerPassword"
                         {%- if form.errors contains 'form' -%}
                         class="input--error"
                         aria-invalid="true"
                         {%- endif -%}       
                         bar-height='1px' active-color='#979797' class="input-field">
                  {% endif %}
                </div>
                <div class="text-center">
                  {% if form.password_needed %}
                  <p><a href="#" id="RecoverPassword">Forgot Password</a></p>
                  {% endif %} 
                </div>
              </div>
              <div class="submit-btn">
                <button type="submit" class="btn">Login</button>
              </div>
              {% endform %}
            </div>
            <div id="RecoverPasswordForm" class="hide">
              <div class="resethead">
                <h2>RESET YOUR PASSWORD</h2>
              	<p>We will send you an email to reset your password.</p>
              </div>
              <div class="form-vertical">
                {% form 'recover_customer_password' %}
                <div class="col-row">
                  <div class="form-field col-full">
                  {% if form.posted_successfully? %}
                  <span class="hide reset-password-success"></span>
                  {% endif %}
                  <input
                         type="email"
                         label="email"
                         value=""
                         name="email"
                         id="RecoverEmail"
                         class="input-field"
                         autocorrect="off"
                         autocapitalize="off"
                         {% if form.errors %}
                         aria-invalid="true"
                         aria-describedby="RecoverEmail-email-error"
                         {%- endif -%}
                         >
                  {%- if form.errors -%}
                  <span id="RecoverEmail-email-error" class="input-error-message">
                   {{ form.errors.messages['form'] }}
                  </span>
                  {%- endif -%}
                </div>
                <div class="submit-btn">
                  <button type="submit" class="btn" id="recoversubmit">Submit</button>
                  <a href="#LoginHeading" id="HideRecoverPasswordLink" class="btn">Cancel</a>
                </div>
                </div>
                {% endform %}
              </div>
            </div>
          </div>
          <div class="col-two">
            <div class="sec-title">
              <h2>Create Account</h2>
            </div>
            <div class="rte">
              <p>Create an account with us and you'll be able to:</p>
              <ul>
                <li>Check out faster</li>
                <li>Save multiple shipping addresses</li>
                <li>Access your order history</li>
                <li>Track new orders</li>
                <li>Save items to your wish list</li>
              </ul>
            </div>
            <div class="submit-btn">
              <a href="/account/register"><button type="submit" class="btn">Create an Account</button></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>