<div class="account-section">
  <div class="container">
    <div class="col-row ai-s">
      <div class="col-two">
        <div class="user-form">
          {% form 'reset_customer_password' %}
          <h1 class="resetpassword">Reset Your Password</h1>
          {%- if form.errors -%}
          <div class="h3 form-message__title">
            {{ form.errors | default_errors }}
          </div>
          {%- endif -%}
          <div class="col-row">
            <div class="form-field col-full">
              <input type="password" label="Password" label-color="#141819" value="" name="customer[password]" id="ResetPassword" bar-height='1px' active-color='#979797' class="input-field">
            </div>
            <div class="form-field col-full">
              <input type="password" label="Confirm Password" label-color="#141819" value="" name="customer[password_confirmation]" id="CustomerPassword" bar-height='1px' active-color='#979797' class="input-field">
            </div>
          </div>
          <input type="submit" class="btn text-center" value="Submit">
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>